<nav>
    <div>
        <h1>My personal resume</h1>

    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/education">Eduaction</a></li>
        <li><a href="/skills">Skills　&  Award</a></li>

    </ul>
</nav>