<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div>
                <h5 class="mb-0">ＡＢＯＵＴ　ＭＥ</h5>



            </div>
            <img src="112.png" width="1000" height="350">


            </div>




    </body>

</html>