<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <h3 class="mb-0">ＥＤＵＣＡＴＩＯＮ</h3>
            <h4>Southern Taiwan University of Science and Technology 106/09 – 110/06</h4>
            <h4>Computer Science and Information Engineering</h4>

            <h4>National Tainan Commercial Vocational Senior High School 103/09 – 106/06</h4>
            <h4>International Trade</h4 </body>

</html>