<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div>

                <h3 class="mb-0">ＳＫＩＬＬＳ　＆　ＡＷＡＲＤ</h3>
                <h4>■ The 15th Digital Singal Processing Creative Design Contest --《Honorable Mention》 </h4>
                <img src="skills.PNG" width="500" ,height="500">



            </div>


    </body>

</html>